<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Cheers!, <%= @user.name %></h1>
    <p>
      You have successfully signed up to Cheers,
      your username is: <%= @user.login %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining. Cheers!</p>
  </body>
</html>

<!-- Add another link later to edit the users profile if they choose -->

<!-- NOTE FOR WHEN THE USER CONTROLLERS AND LOGIN STUFF IS ADDED! NEED TO ADD THE FOLLOWING LINE TO THE USER CONTROLLER IF THE USER WAS SUCESSFULLY SAVED:

NewUserMailer.welcome_email(@user).deliver -->