<body>
  <div class="container">

    <!-- this is what initializes the map from the map controller -->
    <div ng-init="init()"></div>
    <div ng-init="geocodeAddresses()"></div>
    <!-- map displays here -->
    <div id="map-canvas"></div>

  </div>

</body>
